<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="defaultProcessName" value="cyberpunk2077.exe"/>			    <!-- Adjust for the game in question, or leave empty to select it manually -->
		<add key="defaultDllName" value=".\Cyberpunk2077CameraTools.dll"/>		<!-- Adjust for the game in question. Can't be left empty -->
		<!-- App specific settings below this line, don't alter these -->
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
	</appSettings>
</configuration>
