<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="defaultProcessName" value="SOTTR.exe"/>			    <!-- Adjust for the game in question, or leave empty to select it manually -->
		<add key="defaultDllName" value=".\SOTTRCameraTools.dll"/>		<!-- Adjust for the game in question. Can't be left empty -->
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
