<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ModernWpfUI" version="0.7.4" targetFramework="net452" />
  <package id="SD.Tools.Algorithmia" version="1.4.0" targetFramework="net452" />
  <package id="SD.Tools.BCLExtensions" version="1.2.2" targetFramework="net452" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net452" />
</packages>